@import '~bootstrap/scss/bootstrap';


.card-text {
    font-size: 12px;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: red;
};

.img-f {
    width: 400px;
    height: 500px;
}


